@font-face {font-family: "PeachesandCreamBoldW00-Rg";
    src: url("//db.onlinewebfonts.com/t/6ab2e1efb8e44407454c4a610980c7c7.eot");
    src: url("//db.onlinewebfonts.com/t/6ab2e1efb8e44407454c4a610980c7c7.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/6ab2e1efb8e44407454c4a610980c7c7.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/6ab2e1efb8e44407454c4a610980c7c7.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/6ab2e1efb8e44407454c4a610980c7c7.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/6ab2e1efb8e44407454c4a610980c7c7.svg#PeachesandCreamBoldW00-Rg") format("svg"); }
	
h1 {
	
	font-family: 'PeachesandCreamBoldW00-Rg';
	
}