.featured-hero {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: rem-calc(200);

	@include breakpoint(xlarge) {
		height: rem-calc(400);
	}

	.main-wrap {

		@include xy-grid;

		*, .page-title {
			color: #fff;
		}
		
		@include breakpoint( medium ) {

			.page-title {
				font-size: 5rem;
			}
			
		}
		
		& > * {
			position: relative;
		}

		@include breakpoint(small) {
			
			margin-top: 0;
			padding-top: 3rem;
			padding-bottom: 3rem;
			
		}
		
		@include breakpoint( small only ) {
			.page-title {
				font-size: rem-calc( map-get-deep( $header-styles, 'medium', 'h2', 'font-size' ) );
			}
		}
		
		@include breakpoint(medium) {
			padding-top: 8rem;
		}

	}

}