.home {

  .featured-hero {

    position: relative;
    overflow: visible;
    display: block;
    height: rem-calc(300);

    @include breakpoint(medium) {
      height: rem-calc(400);
    }

    @include breakpoint(large) {
      height: rem-calc(500);
    }

  }

  .portfolio-loop {

    width: 100%;

    #portfolio-gallery {

      margin: auto;

      .gallery-item {
        margin-top: 10px;
        text-align: center;
      }

      img {
        border: 2px solid #cfcfcf;
      }

      .gallery-caption {
        margin-left: 0;
      }

    }

  }

}